<h1>{{#esEdicion}}Editar Pregunta{{/esEdicion}}{{^esEdicion}} Registro de Pregunta:{{/esEdicion}}</h1>
<form method="POST" action="{{#esEdicion}}{{BASE_URL}}pregunta/editarPreguntaForm/{{pregunta.id}}{{/esEdicion}}{{^esEdicion}}{{BASE_URL}}pregunta/sugerirPreguntaNueva{{/esEdicion}}"
      enctype="multipart/form-data"
      class="w3-card w3-white w3-padding w3-content"
        style="width:900px;margin-top:2rem">

    <!-- Cargar estilos desde W3.CSS y Leaflet directamente -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

    {{#error}}
        <div class="w3-panel w3-red w3-display-container">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
            <p>{{error}}</p>
        </div>
    {{/error}}


    <div class="w3-row-padding">
        {{#esEdicion}}
            <input type="hidden" name="idPregunta" value="{{pregunta.idPregunta}}">
        {{/esEdicion}}
        <p><label>Enunciado Pregunta:</label>
            <input class="w3-input w3-border" type="text" value="{{pregunta.enunciado}}" name="enunciado" required></p>
        <p><label>Categoria{{^esEdicion}}/<label for="sugerirCategoria" id="sugerirCategoria" onclick="abrirModal('Sugerir Categoria')">Sugerir Categoria</label>{{/esEdicion}}:</label>

            <select class="w3-input w3-border"  name="categoria" required>
                {{#categorias}}
                    <option value="{{idCategoria}}">{{descripcion}}</option>
                {{/categorias}}
            </select>
        </p>
        <p><label>Nivel:</label>
            <select class="w3-input w3-border" name="nivel" required>
                {{#niveles}}
                    <option value="{{idNivel}}">{{descripcion}}</option>
                {{/niveles}}
            </select>
        </p>
        <p><label>Respuesta Correcta:</label>
            <input class="w3-input w3-border" type="text" value="{{pregunta.respuestaCorrecta}}" name="respuestaCorrecta" required></p>
        {{#esEdicion}}
            {{#respuestasIncorrectas}}
                <p>
                    <label>Respuesta Incorrecta {{index}}:</label>
                    <input class="w3-input w3-border" type="text" name="respuestaIncorrecta[]" value="{{respuestaIncorrecta}}" required>
                    <input type="hidden" name="idRespuestaIncorrecta[]" value="{{idRespuestaIncorrecta}}">
                </p>
            {{/respuestasIncorrectas}}
        {{/esEdicion}}
        {{^esEdicion}}
            <p><label>Respuesta Incorrecta 1:</label>
                <input class="w3-input w3-border" type="text" name="respuestaIncorrecta1" required></p>
            <p><label>Respuesta Incorrecta 2:</label>
                <input class="w3-input w3-border" type="text" name="respuestaIncorrecta2" required></p>
            <p><label>Respuesta Incorrecta 3:</label>
                <input class="w3-input w3-border" type="text" name="respuestaIncorrecta3" required></p>
        {{/esEdicion}}
    </div>

    <p class="w3-center">
        <a class="w3-button w3-blue" href="{{BASE_URL}}">Volver</a>
        <button class="w3-button w3-green" type="submit">
            {{#esEdicion}}Editar Pregunta{{/esEdicion}}{{^esEdicion}} Sugerir Pregunta{{/esEdicion}}
        </button>
    </p>

</form>

<div id="modalMotivo" class="w3-modal" onclick="cerrarModal(event)">
    <div class="w3-modal-content w3-animate-top w3-card-4" style="max-width:500px;">
        <header class="w3-container w3-green">
      <span onclick="cerrarModal()"
            class="w3-button w3-display-topright">&times;</span>
            <h3>Sugerir Categoria:</h3>
        </header>
        <div class="w3-container" id="contenidoMotivo" style="padding:20px;">
            <form action="{{BASE_URL}}pregunta/sugerirCategoriaNueva" method="post">
                <label for="nuevaCategoria">Nueva categoria:</label>
                <input  type="text" id="nuevaCategoria" name="nuevaCategoria">
                <button type="submit" class="w3-button w3-green">Sugerir:</button>
            </form>

        </div>
        <footer class="w3-container w3-green">
            <p style="text-align:center;">Sugiere una nueva categoria</p>
        </footer>
    </div>
</div>

<style>
    #sugerirCategoria {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
    #sugerirCategoria:hover{
        background-color: #00BFBF;
    }
</style>


<script>
    function abrirModal(motivo) {
        document.getElementById('sugerirCategoria').innerText = motivo;
        document.getElementById('modalMotivo').style.display = 'block';
    }

    function cerrarModal(event) {
        // Cierra si se hace clic fuera del contenido o en la X
        if (!event || event.target === document.getElementById('modalMotivo')) {
            document.getElementById('modalMotivo').style.display = 'none';
        }
    }

</script>