<h1>Seleccion de partida en desarrollo</h1>

<a href="{{BASE_URL}}usuario/lobby"
   class="w3-button w3-round-large"
   style="background-color:#26F0EC;color:black;font-weight:bold;text-decoration:none;margin:0 0 20px 20px;">
    Lobby
</a>